# Alarm Server Settings

# Keep passwords with product install location
org.csstudio.security/secure_preference_location=Install

# Alarm System
# To avoid setting the RDB password in here, it can be configured
# on the command line:
#
# AlarmServer -set_password org.csstudio.alarm.beast/rdb_password=secret_password
org.csstudio.alarm.beast/rdb_url={{ beast_rdb_url }}
org.csstudio.alarm.beast/rdb_user={{ beast_rdb_user }}
org.csstudio.alarm.beast/rdb_password={{ beast_rdb_password }}
org.csstudio.alarm.beast/rdb_schema={{ beast_rdb_schema }}

# Alarm System 'root', i.e. configuration name
org.csstudio.alarm.beast/root_component={{ item }}

# Alarm System JMS Connection
org.csstudio.alarm.beast/jms_url={{ beast_jms_url }}
org.csstudio.alarm.beast/jms_user={{ beast_jms_user }}
org.csstudio.alarm.beast/jms_password={{ beast_jms_password }}

# Alarm Server: Period for repeated annunciation of active alarms
#org.csstudio.alarm.beast.server/nag_period=00:15:00

# Channel Access
# Network traffic can be optimized by only monitoring ALARM updates,
# but that has the disadvantage that formulas will also only
# react to input variable changes when their alarm severity differs.
# So unless this optimization is necessary, it's best to use VALUE updates
org.csstudio.platform.libs.epics/use_pure_java=true
org.csstudio.platform.libs.epics/support_dbe_property=true
org.csstudio.platform.libs.epics/monitor=VALUE
org.csstudio.platform.libs.epics/addr_list="{{ beast_epics_ca_addr_list }}"

# Logging preferences
org.csstudio.logging/console_level=CONFIG
org.csstudio.logging/jms_url=

org.eclipse.ui/SHOW_PROGRESS_ON_STARTUP = false
